@import "~react-toolbox/lib/commons";
@import "../app/App";

.description {
  text-align: center;
}

form.upload {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  input {
    padding: 20%;
    border: 2px dotted $palette-grey-400;
    border-radius: 10px;
  }
}
