@import "~react-toolbox/lib/commons";

.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: auto;
  margin-left: auto;
  padding: 0 $unit (0.5 * $unit) 0;

  > button {
    margin-top: 1.8 * $unit;
  }

  > [data-react-toolbox="dropdown"] {
    margin: 0 $unit 0 $unit;
  }
}
